.StoreContainer {
  box-shadow: 5px 10px 8px #888888;
  background-color: #333;
  color: white;
  padding: 20px;
  margin: 12px;
  position: relative;
  z-index: 10;
}

.Store {
  min-height: 240px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.FigureItem1 {
  margin: 0;
  position: absolute;
  top: 0;
  right: 0;
  width: 40%;
  height: 100%;
  z-index: 11;
}

.Image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.Store p {
  padding: 10px;
  position: relative;
  z-index: 12;
  width: 60%;
}

.ListItemName {
  display: inline-block;
  margin: 10px;
  padding: 0;
  z-index: 12;
  position: relative;
}

.ListItemName a {
  display: block;
  text-decoration: none;
  background-color: rgb(45, 138, 167);
  background-image: linear-gradient(
    to right,
    rgb(34, 119, 144),
    rgb(32, 171, 235)
  );
  box-shadow: 10px 8px 8px darkgray;
  color: white;
  font-weight: bold;
  padding: 8px;
}

.TagGroup {
  display: flex;
  flex-wrap: wrap;
}

.ListItemTag {
  display: inline-block;
  margin: 5px 10px;
  padding: 0;
  z-index: 12;
  position: relative;
}

.ListItemTag a {
  display: block;
  text-decoration: none;
  background-image: linear-gradient(
    to right,
    rgba(255, 115, 0, 0.897),
    rgb(255, 145, 0)
  );
  color: white;
  font-weight: bold;
  padding: 8px;
  font-size: 0.9em;
}

@media (max-width: 600px) {
  .StoreContainer {
    padding: 20px 10px;
  }

  .FigureItem1 {
    width: 100%;
    height: 50px;
  }

  .Store p {
    width: 100%;
    font-size: 0.95rem;
  }

  .ListItemTag {
    margin: 5;
  }

  .ListItemTag a {
    padding: 4px;
    font-size: 0.85rem;
  }
}
