.StoresContainer {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
  letter-spacing: 0.05em;
}

.FigureItem1 {
  grid-column: 1/5;
  grid-row: 1/13;
  margin: 0;
  padding: 40px;
  background-color: rgb(36, 35, 35);
}

.Image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: 6px solid rgb(46, 45, 46);
}

.Stores {
  grid-column: 5/13;
  grid-row: 1/13;
  overflow: scroll;
  width: 90%;
  padding: 20px;
  margin: 30px auto;
  letter-spacing: 0.05em;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

@media (max-width: 1400px) {
  .Stores {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 1200px) {
  .FigureItem1 {
    display: none;
  }

  .Stores {
    grid-column: 1/13;
    grid-row: 1/13;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 1000px) {
  .Stores {
    grid-template-columns: 1fr;
  }
}
