.TagsContainer {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
  letter-spacing: 0.05em;
}

.FigureItem1 {
  grid-column: 1/5;
  grid-row: 1/13;
  margin: 0;
  padding: 40px;
  background-color: rgb(36, 35, 35);
}

.Image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: 6px solid rgb(46, 45, 46);
}

.TagsDivWrapper {
  grid-column: 5/13;
  grid-row: 1/13;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(8, 1fr);
}

.TagsDiv {
  grid-row: 1/2;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: rgb(46, 45, 46);
  padding: 5px;
}

.Tags {
  display: inline-block;
  margin: 5px 15px;
  padding: 0;
}

.Tags a {
  display: block;
  text-decoration: none;
  background-image: linear-gradient(
    to right,
    rgba(255, 115, 0, 0.897),
    rgb(255, 145, 0)
  );
  font-weight: bold;
  color: white;
  padding: 8px;
}

@media (max-width: 1200px) {
  .FigureItem1 {
    display: none;
  }

  .TagsDivWrapper {
    grid-column: 1/13;
  }

  .Tags {
    margin: 5px 8px;
  }
}

@media (max-width: 800px) {
  .Tags {
    margin: 5px;
  }

  .Tags a {
    padding: 5px;
    font-size: 0.95rem;
  }
}

@media (max-width: 600px) {
  .Tags a {
    font-size: 0.85rem;
  }
}
