.DrawerToggle {
  display: none;
}

.DrawerToggle div {
  width: 90%;
  height: 2px;
  background-color: rgba(255, 255, 255, 0.589);
}

@media (max-width: 800px) {
  .DrawerToggle {
    width: 52px;
    height: 45px;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    border: 1px solid rgba(255, 255, 255, 0.589);
    cursor: pointer;
  }
}
