.NavigationItem {
  box-sizing: border-box;
  display: block;
  width: 100%;
  height: 40px;
}

.NavigationItem a {
  color: white;
  text-align: center;
  text-decoration: none;
  width: 100%;
  box-sizing: border-box;
  display: block;
}

.NavigationItem a:hover {
  background-color: rgb(105, 103, 103);
  color: white;
  border-bottom: 4px solid #40a4c8;
}

.NavigationItem a:active,
.NavigationItem a.active {
  background-color: none;
  border-bottom: none;
  color: white;
}

@media (min-width: 800px) {
  .NavigationItem {
    display: flex;
    height: 100%;
    align-items: center;
    width: auto;
  }

  .NavigationItem a {
    color: white;
    height: 100%;
    padding: 16px 10px;
    border-bottom: 4px solid transparent;
  }

  .NavigationItem a:hover,
  .NavigationItem a:active,
  .NavigationItem a.active {
    background-color: rgb(105, 103, 103);
    color: white;
    border-bottom: 4px solid #40a4c8;
  }
}
