.Home {
  height: 100%;
  font-family: "Cormorant SC", serif;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
  border: 5px solid #333;
}

.Intro {
  padding: 40px 30px;
  background-color: #333;
  color: white;
  grid-column: 1/5;
  grid-row: 1/6;
}

.FigureItem1 {
  grid-column: 5/9;
  grid-row: 1/6;
  margin: 0;
}

.FigureItem2 {
  grid-column: 9/13;
  grid-row: 1/13;
  margin: 0;
}

.FigureItem3 {
  grid-column: 1/5;
  grid-row: 6/13;
  margin: 0;
}

.FigureItem4 {
  grid-column: 5/9;
  grid-row: 6/13;
  margin: 0;
}

.Image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.Intro h1 {
  margin-bottom: 1em;
  font-size: 1.4rem;
}

.Intro p {
  margin-bottom: 1em;
  font-size: 1.3rem;
}

.LinkItem {
  padding: 0;
  margin-right: 10px;
  list-style-type: none;
  display: inline-block;
}

.LinkItem a {
  display: inline-block;
  text-decoration: none;
  background-image: linear-gradient(
    to right,
    rgba(255, 115, 0, 0.897),
    rgb(255, 145, 0)
  );
  min-width: 80px;
  text-align: center;
  color: white;
  font-weight: bold;
  padding: 8px 4px;
  font-size: 0.9em;
  letter-spacing: 0.1em;
}

@media (max-width: 1200px) {
  .Intro {
    grid-column: 1/7;
    grid-row: 1/6;
  }

  .FigureItem1 {
    display: none;
  }

  .FigureItem2 {
    display: none;
  }

  .FigureItem3 {
    grid-column: 1/7;
    grid-row: 6/13;
  }

  .FigureItem4 {
    grid-column: 7/13;
    grid-row: 1/13;
  }
}

@media (max-height: 800px) {
  .Intro {
    grid-column: 1/5;
    grid-row: 1/13;
  }

  .FigureItem1 {
    display: none;
  }

  .FigureItem2 {
    display: none;
  }

  .FigureItem3 {
    grid-column: 5/9;
    grid-row: 1/13;
  }

  .FigureItem4 {
    grid-column: 9/13;
    grid-row: 1/13;
  }
}

@media (max-width: 1200px) and (max-height: 800px) {
  .Intro {
    grid-column: 1/5;
    grid-row: 1/13;
  }

  .FigureItem1 {
    display: none;
  }

  .FigureItem2 {
    display: none;
  }

  .FigureItem3 {
    grid-column: 5/13;
    grid-row: 1/13;
  }

  .FigureItem4 {
    display: none;
  }
}

@media (max-width: 800px) {
  .Intro {
    grid-column: 1/13;
    grid-row: 1/6;
  }

  .FigureItem1 {
    display: none;
  }

  .FigureItem2 {
    display: none;
  }

  .FigureItem3 {
    grid-column: 1/13;
    grid-row: 6/13;
  }

  .FigureItem4 {
    display: none;
  }
}

@media (max-width: 800px) and (max-height: 800px) {
  .Intro {
    grid-column: 1/13;
    grid-row: 1/8;
    padding: 10px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .Intro p {
    margin: 10px 0 16px;
    width: 90%;
    margin: 0 auto 1.2em;
  }

  .Intro h1 {
    margin: 0 0 16px 0;
  }

  .FigureItem1 {
    display: none;
  }

  .FigureItem2 {
    display: none;
  }

  .FigureItem3 {
    grid-column: 1/7;
    grid-row: 8/13;
  }

  .FigureItem4 {
    display: initial;
    grid-column: 7/13;
    grid-row: 8/13;
  }
}

@media (max-height: 450px) {
  .Intro {
    grid-column: 1/7;
    grid-row: 1/13;
  }

  .FigureItem1 {
    display: none;
  }

  .FigureItem2 {
    display: none;
  }

  .FigureItem3 {
    grid-column: 7/13;
    grid-row: 1/13;
  }

  .FigureItem4 {
    display: none;
  }
}
