.NavContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-right: 20px;
}

.NavigationItems {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-flow: row;
  align-items: center;
  height: 100%;
}

@media (max-width: 800px) {
  .NavContainer {
    flex-direction: column;
    justify-content: center;
  }

  .NavigationItems {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-flow: column;
    align-items: center;
    height: 100%;
  }
}
